<%= link_to '<< Previous', root_url(:offset => offset - 1) %> |
<%= link_to 'Next >>', root_url(:offset => offset + 1) %>

<br>
<br>

<ul>
  <% @days.each do |day| %>
    <li>
      <%= link_to_if logged_in?, day, visit_path(day), :method => :post %>
      <ul>
        <% day.visits.each do |visit| %>
          <li>
            <%= link_to visit, visit.user %>
            <% if visit.user == current_user %>
              <%= link_to update_visit_path(visit, {:visit => {:day => !visit.day}}), :method => :put do %>
                <span class="icon-sun <%= visit.day? ? 'chosen' : 'unchosen' %>"></span>
              <% end %>
              <%= link_to update_visit_path(visit, {:visit => {:night => !visit.night}}), :method => :put do %>
                <span class="icon-moon <%= visit.night? ? 'chosen' : 'unchosen' %>"></span>
              <% end %>
              <%= link_to 'x', unvisit_path(visit),
                :method => :delete,
                # :class  => 'icon-cross',
                :confirm => 'Delete your visit?' %>
            <% else %>
              <% if visit.day? %>
                <span class="icon-sun chosen"></span>
              <% end %>
              <% if visit.night? %>
                <span class="icon-moon chosen"></span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
